body {
    background-color: #F6F6FA;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 0;
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 20px;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
}

.main-content {
    padding: 80px 40px 80px 88px;
    box-sizing: border-box;
    width: 830px;
}

.my-profession {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.my-name {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 15px 0;
    color: #000;
}

.my-descr {
    color: #595959;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 40px;
}

.my-projects-title, .work-experience-title, .my-education {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #161D2A;
    border-bottom: 2px solid #E0EBFE;
    padding-bottom: 10px;
}

.project-item {
    margin-bottom: 30px;
}

.my-projects-item-link {
    color: #005FFF;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
}

.project-descr {
    margin: 8px 0 0 0;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}

.work-experience-container {
    margin-bottom: 30px;
}

.company-name {
    color: #6D9BF5;
}

.work-experience-period {
    color: #A8A8A8;
    font-size: 12px;
    margin-bottom: 12px;
}

.work-experience-duties-item {
    color: #595959;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 6px;
}

.sidebar {
    background-color: #E0EBFE;
    width: 370px;
    min-height: 100vh;
}

.sidebar img {
    width: 370px;
    height: auto;
    display: block;
}

.sidebar-content {
    padding: 40px;
}

.contacts-title, .skills-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contacts-item {
    margin-bottom: 12px;
}

.contacts-link {
    color: #2979FF;
    text-decoration: none;
    font-size: 14px;
}

.skills-list-line {
    font-size: 14px;
    line-height: 28px;
    color: #161D2A;
    margin-bottom: 4px;
}
